<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">



	<mvc:annotation-driven />
	<context:annotation-config />
	<context:component-scan base-package="org.sms" />

	
	<bean id="internalResourceResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">

		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- <bean id="userLoginService" class="org.sms.service.UserLoginServiceImpl"/>
	 -->
	 <bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/SMS" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	<bean id="template" class="org.springframework.jdbc.core.JdbcTemplate">
	    <property name="dataSource" ref="ds"></property>
	</bean>
	<!--  <bean class="org.springframework.context.support.ResourceBundleMessageSource">
	     <property name="basename" value="resource/database"/>
	 </bean> -->
      
    

</beans>